<div class="app-screen vertical a-center">
  <div class="header horizontal a-center j-between">
    <div class="horizontal a-center j-center">
      <div class="hamburger icon"></div>
      <div class="back-arrow icon"></div>
    </div>
    <div class="vertical a-center j-center">
      <span>Find a Volunteering Event</span>
    </div>
    <div class="vertical a-center j-center">
      <div class="notification-count vertical j-center a-center">0</div>
    </div>
  </div>
  <div class="horizontal j-between a-center sub-header">
    <div>
      <span class="filter-count">5/1 - 5/22</span>
      <span class="filter-category">Education</span>
    </div>
    <div class="filter"></div>
  </div>
  <div *ngIf="!postData" class="loading-container vertical a-center j-center">
    <div class="loading-indicator"></div>
  </div>
  <div *ngIf="postData" class="post-view vertical">
    <div *ngFor="let post of postData.content" class="post-container vertical">
      <div class="post-header-container vertical a-start j-start">
        <span class="post-header">{{post.content_name}}</span>
        <div class="horizontal">
          <span *ngFor="let interest of filterInterests(post.tags); let index = index" class="post-subheader">{{index > 0 ? ', ' + interest.tag_name : interest.tag_name}}</span>
        </div>
      </div>
      <img class="post-image" [src]="'https://s3-us-west-2.amazonaws.com/crowdhubharding/' + post.content_image" alt="">
      <div class="post-content-container vertical">
        <span class="post-content">{{post.content_social_description}}</span>
      </div>
      <div class="post-footer-container horizontal a-center j-between">
        <span class="post-date">{{post.content_date_literal_range}}</span>
        <div class="horizontal j-center a-center">
          <div class="post-info-icon-container"></div>
          <div class="post-info-icon"></div>
          <span class="post-info">
            Learn More</span>
        </div>
      </div>
    </div>
  </div>
  <div class="app-nav horizontal j-around">
    <div class="vertical a-center j-center" style="width: 100px;">
      <div class="nav-icon nav-home"></div>
      <span>Home</span>
    </div>
    <div class="vertical a-center j-center" style="width: 100px;">
      <div class="nav-icon nav-stories"></div>
      <span>Stories</span>
    </div>
    <div class="vertical a-center j-center" style="width: 100px;">
      <div class="nav-icon nav-volunteer"></div>
      <span>Voluenteering</span>
    </div>
  </div>
</div>
